.mobileMenu {
  background-color: #000402;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.mobileMenu ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.mobileMenu li {
  font-family: 'Lato-regular';
  font-size: 1.7em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  height: 40px;
  line-height: 40px;
  color: lightgray;
 
}

.mobileMenu a {
  text-decoration: none;
  color: transparent;
  color: lightgray;
  opacity: .6;
}

.mobileMenu a.active {
  border-bottom: none;
  opacity: 1;
  color: lightgray;
}