@font-face {
    font-family: 'Lato';
    src: url('../bx-web-assets//fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-regular';
    src: url('../bx-web-assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-light';
    src: url('../bx-web-assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-xtralight';
    src: url('../bx-web-assets/fonts/Lato-ExtraLight.ttf');
}


@font-face {
    font-family: 'Lato-ExtraBold';
    src: url('../bx-web-assets/fonts/Lato-ExtraBold.ttf');
}